<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>므하하</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
</head>
<body>

    <h1>3조짱 ~! </h1>
    <select name="type" id="accd">
        <option value="none">== 선택 == </option>
        <option value="스마트횡단보드">스마트 횡단보드</option>
        <option value="스마트가로드">스마트 가로등</option>
        <option value="InfSpeedBump">과속 방지턱</option>
        <option value="옐로카펫">옐로 카펫</option>
        <option value="무인카메라">무인 카메라</option>
        <option value="어린이보호구역">어린이 보호구역</option>
    </select>


    <br>
<!--    {% for data in list %}-->
<!--        {% if data.gugun == '강남구' %}-->
<!--            {{forloop.counter}}-->
<!--            <br>-->
<!--            <span>{{ data.id }}</span>-->
<!--            <br>-->
<!--            <span>{{ data.gugun }}</span>-->
<!--            <br>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->

</body>
</html>