<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.koolchart.com/demo/LicenseKey/codepen/KoolChartLicense.js"></script>
    <script src="https://www.koolchart.com/demo/KoolChart/JS/KoolChart.js"></script>
    <link rel="stylesheet" href="https://www.koolchart.com/demo/KoolChart/Assets/Css/KoolChart.css"/>
    
</head>
<body>
    <div class="up">
        <select name="accdtype" id="accd">
            <option value="none">== 사고유형 == </option>
            <option value="Frequentzoneoldman">노인보행자 사고</option>
            <option value="Frequentzonechild">어린이보행자 사고</option>
            <option value="Schoolzonechild">스쿨존 사고</option>
            <option value="Frequentzonetmzon">연휴기간 사고</option>
            <option value="Jaywalking">무단횡단 사고</option>
        </select>
    </div>
    <div id="chartHolder" style="height:500px; width:100%;"></div>
    <div class="down">
        <div class="chart-area1">
            <!-- <div id="container1"></div>
            <div id="container2"></div>
            <div id="container3"></div>
            <div id="container4"></div> -->
        </div>
        <div class="chart-area2">
            <!-- <div id="container5"></div> -->
            <!-- <div id="container6"></div> -->
            <!-- <div id="container7"></div> -->
            <!-- <div id="container8"></div> -->
        </div>
        <div class="chart-area3">
            <!-- <div id="container9"></div> -->
            <!-- <div id="container10"></div> -->
            <!-- <div id="container11"></div> -->
            <!-- <div id="container12"></div> -->
        </div>
        <div class="chart-area4">
            <!-- <div id="container13"></div> -->
            <!-- <div id="container14"></div> -->
            <!-- <div id="container15"></div> -->
            <!-- <div id="container16"></div> -->
        </div>
    </div>
    
</body>
<script>
    var chartVars = "KoolOnLoadCallFunction=chartReadyHandler";

    KoolChart.create("chart1", "chartHolder", chartVars, "100%", "100%");

    function chartReadyHandler(id) {
    document.getElementById(id).setLayout(layoutStr);
    document.getElementById(id).setData(makeData());
    setTimeout(changeData, 3000);
    }

    var layoutStr =
    '<KoolChart backgroundColor="#FFFFFF"  borderStyle="none" fontFamily="Noto Sans">'
    +'<Options>'
        +'<Caption text="Changes data every 2 seconds"/>'
    +'</Options>'
    +'<WordCloudChart showDataTips="true">'
        +'<series>'
        +'<WordCloudSeries textField="text" weightField="weight">'
        +'<showDataEffect>'
        +'<SeriesInterpolate duration="1000"/>'
        +'</showDataEffect>'
        +'<fills>'
        +'<SolidColor color="#5586a4"/>'
        +'<SolidColor color="#40b2e6"/>'
        +'<SolidColor color="#ffa123"/>'
        +'<SolidColor color="#595c7b"/>'
        +'<SolidColor color="#ef8075"/>'
        +'<SolidColor color="#f8ba03"/>'
        +'<SolidColor color="#03b79a"/>'
        +'<SolidColor color="#a5d4e6"/>'
        +'<SolidColor color="#b79d7c"/>'
        +'<SolidColor color="#9e589e"/>'
        +'</fills>'
        +'</WordCloudSeries>'
        +'</series>'
    +'</WordCloudChart>'
    +'</KoolChart>';

    function changeData(){
    document.getElementById("chart1").setData(makeData());
    setTimeout(changeData, 2000);
    }

    function makeData(){
    var i, n,
    chartData = [],
    a = ['안녕하세요','3조','DI','전동준','이재원','박지영','조성헌','화이팅','데이터엔지니어링 프로젝트'];

    for(i = 0, n = a.length ; i < n ; i += 1){
    chartData.push({
        text : a[i],
        weight : Math.floor(Math.random(10) * 100)
    });
    }
    return chartData;
    };
    
    




    
                    
</script>
</html>